/* Intro container with landscape aspect ratio */
.intro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Set the width to 70% of the viewport width */
  height: 800px;
  max-width: 1200px; /* Optional: Limit the max width */
  max-height: 1000px;
  margin: auto; /* Center the container horizontally */
  padding: 20px;
  border-radius: 15px; /* Optional: Add rounded corners */
}

/* Intro content section */
.intro-content {
  width: 60%; /* Controls the width of the text section */
  margin-bottom: 5%;
}

/* Intro text styles */
.intro-myname {
  color: #e5e5e5a9;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  text-align: left;
}

.intro-title {
  color: var(--secondary);
  font-size: 4rem;
  font-family: 'Inter', sans-serif;
  text-align: left;
}

.intro-description {
  color: #e5e5e5;
  font-size: 1.5rem;
  font-family: 'NTR', sans-serif;
}

/* Contact buttons */
.contact-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.contact-button, .cv-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  color: white;
  background-color: transparent;
  border: 2px solid #488db2;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.contact-button:hover, .cv-button:hover {
  background-color: #488db2;
  color: white;
}

/* Profile image section */
.intro-image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  aspect-ratio: 1 / 1;
  width: 180px; /* Maintain 1:1 aspect ratio for a perfect circle */
  border-radius: 50%; /* Circle effect */
  object-fit: cover; /* Ensure the image fills the circle */
  box-shadow: 0 4px 20px rgba(109, 202, 255, 0.5);
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}


.profile-image:hover {
  transform: scale(1.1);
}

/* Responsive adjustments */
@media (min-width: 1171px) {
  .intro-myname {
    font-size: 1rem;
  }

  .intro-title {
    font-size: 4rem;
  }

  .intro-description {
    font-size: 1.5rem;
  }

  .contact-buttons {
    justify-content: flex-start;
    width: 100%;
  }

  .profile-image {
    max-width: 400px; 
    width: 100%;
  }

  .contact-button, .cv-button {
    font-size: 1.2rem;
    padding: 12px 24px;
  }
}

@media (max-width: 1170px) {
  .intro-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0;
    width: 90vw;
    height: auto;
  }

  .intro-myname {
    text-align: center;
  }

  .intro-title {
    text-align: center;
    font-size: 3rem;
  }

  .intro-description {
    font-size: 1.2rem;
  }

  .contact-buttons {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .contact-button, .cv-button {
    width: 100%;
    max-width: 150px;
  }

  .profile-image {
    margin-top: 10%;
    max-width: 100%;
  }
}

@media (max-width: 850px) {
  .intro {
    flex-direction: column; 
    align-items: center;
    text-align: center;
    gap: 0;
    height: auto;
    width:auto; 
    margin-bottom: 10px;
  }

  .intro-container {
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 1400px;
  }

  .intro-myname {
    align-content: center;
    margin-top: 30px;
  }

  .intro-title {
    font-size: 1.6rem;
  }

  .intro-description {
    font-size: 1.2rem;
    margin-top: 10px;
    line-height: 1.2;
  }

  .contact-buttons {
    margin-top: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .profile-image {
    margin-top: 10%;
    max-width: 300%;
    width: 250px;
  }
  .contact-button, .cv-button {
    width: 100%;
    max-width: 200px; 
    font-size: 0.7rem;
  }
}
