.tools-container {
  display: flex; /* Ensure flex layout */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center content horizontally */
  text-align: center; /* Center text within the container */
  padding: 20px; /* Optional padding */
  margin-bottom: 50px;
  height: auto;
}

.tools {
  display: flex; /* Flex layout for columns */
  z-index: 10; /* Ensure about content is above other elements */
  border-radius: 10px; /* Slightly rounded corners */
  line-height: 1.6; /* Improved line spacing */
  width: 150vh; /* Full width */
  height: auto; /* Automatic height based on content */
}

.column-title {
  margin-bottom: 30px;
  margin-top: 20px;
  width: auto;
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: bold;
  line-height: 1.2;
  font-size: 1.3rem;
}

.column {
  box-shadow: 2px 3px 20px var(--secondary); /* Shadow with the --secondary color */
  flex: 1; /* Equal space for each column */
  margin: 0 25px; /* Space between columns */
  border-radius: 8px; /* Rounded corners for columns */
  padding: 20px; /* Padding inside columns */
  width: auto;
  color: rgb(176, 176, 176);
  font-size: 1.6rem;
  font-family: NTR;
  font-weight: semi-bold;
}

/* Image grid styling */
.image-grid {
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(2, 1fr); /* Create two equal columns */
  gap: 10px; /* Space between images */
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove padding */
}

.image-grid img {
  max-width: 100%; /* Ensure images are responsive */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Display images as block elements */
}

/* About title styling */
.tools-title {
  color: var(--secondary); /* Use a CSS variable for color */
  font-size: 3.3rem; /* Font size for title */
  font-family: 'Inter', sans-serif; 
  margin-bottom: 25px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 1170px) {
  .tools-container {
    width: 90%;
    flex-direction: column; /* Stack the about content vertically */
    align-items: center; /* Center items horizontally */
    padding: 0 20px; /* Add padding to the sides */
  }

  .tools {
    flex-direction: column; /* Stack columns on small screens */
    width: 100%; /* Full width on small screens */
  }

  .column {
    margin: 10px 0; /* Space between stacked columns */
    width: 100%; /* Full width for each column */
    margin-bottom: 50px;
  }

  .tools-title {
    margin-top: 50px;
    font-size: 2.5rem; /* Smaller font for mobile */
  }

  .image-grid {
    grid-template-columns: 1fr; /* Stack images in one column on smaller screens */
  }
}

@media (max-width: 1000px) {
  .tools-title {
    font-size: 1.7rem; /* Even smaller title for very small screens */
  }
}
