/* About title styling */
.tools-title {
  color: var(--secondary);
  font-size: 3.3rem;
  font-family: 'Inter', sans-serif; 
  margin-bottom: 10px;
}

/* About title styling */
.tools-subtitle {
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: NTR;
  margin-bottom: 25px;
}


.tools-container {
  display: flex; /* Ensure flex layout */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center content horizontally */
  text-align: center; /* Center text within the container */
  padding: 20px;
  margin-bottom: 120px;
  
}

.tools {
  display: flex; /* Flex layout for columns */
  z-index: 10;
  border-radius: 10px;
  line-height: 1.6;
  width: 150vh;
  height: auto;
}

.column-title {
  margin-bottom: 30px;
  margin-top: 20px;
  width: auto;
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: bold;
  line-height: 1.2;
  font-size: 1.3rem;
  text-align: center;
}

.column {
  transition: transform 0.3s ease; /* Smooth scaling effect for the entire column */
  box-shadow: 2px 3px 20px var(--secondary);
  flex: 1;
  margin: 0 25px;
  border-radius: 8px;
  padding: 20px;
  width: auto;
  height: auto;
  color: rgb(176, 176, 176);
  font-size: 1.6rem;
  font-family: NTR;
  font-weight: semi-bold;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Image grid styling */
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto; /* Center the grid */
  width: 80%; /* Slightly narrower width for centering */
  margin-bottom: 25px;
}

/* Link styling for each image with hover effect */
.image-grid a {
  display: inline-block;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.image-grid img {
  max-width: 60px; /* Smaller image width */
  height: auto;
  display: block;
  margin: 0 auto; /* Center each image within its cell */
}

/* Hover effect */
.image-grid a:hover {
  transform: scale(1.1); /* Slightly enlarges the icon on hover */
}

.column:hover {
  transform: scale(1.05); /* Slightly enlarges the entire column on hover */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 1170px) {
  .tools-container {
    width: 90%;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .tools {
    flex-direction: column;
    width: 100%;
  }

  .column {
    margin: 10px 0;
    width: 100%;
    margin-bottom: 50px;
  }

  .tools-title {
    margin-top: 50px;
    font-size: 2.5rem;
  }
}

@media (max-width: 1000px) {
  .tools-title {
    font-size: 1.7rem;
  }

  .tools-subtitle {
    font-size: 0.8rem;
  }
}
