:root {
  --background-color: #150d3b; /* Background color */
  --navbar-color: #150d3b;
  --white: #ffffff; /* Text color */
  --secondary: #6dcaff; /* Custom secondary color for cursor */
}

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: default; /* Hide the default cursor */
}

/* General application styles */
.App {
  padding-top: 40px;
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Full-Screen Star Background */
.star-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Prevents scrolling */
  z-index: 1; /* Ensure stars are behind main content */
  pointer-events: none; /* Allows interactions with other content */
}

/* Styles for individual stars */
.star {
  position: absolute;
  background: rgba(255, 255, 255, 0.05); /* Light color for stars with less opacity */
  border-radius: 50%; /* Makes stars circular */
  width: 6px; /* Set width to 6px */
  height: 6px; /* Set height to 6px */
  animation: twinkle 1.5s infinite alternate, move 5s infinite alternate; /* Animation */
  box-shadow: 0 0 12px rgba(2, 23, 79, 0.1); /* Adjust glow effect */
}

/* Keyframes for twinkling stars */
@keyframes twinkle {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Keyframes for subtle star movement */
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(-10px, 10px);
  }
}

/* Media query for small devices */
@media (max-width: 768px) {
  body {
    cursor: none; /* Hide the cursor for smaller devices */
  }

  .custom-cursor {
    display: none; /* Optionally hide the custom cursor on small devices */
  }
}
